[Unit]
Description=mbsync Service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
TimeoutSec=360
ExecStart=/usr/bin/mbsync -a

[Install]
WantedBy=mail.target
