[Unit]
Description=Offlineimap Service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment=
ExecStart=/usr/bin/offlineimap -o

[Install]
WantedBy=mail.target
